{{#> layout }}
<!-- start hero -->
<tr>
  <td align="center" bgcolor="#e9ecef">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
      <tr>
        <td align="left" bgcolor="#ffffff"
          style="padding: 36px 24px 0; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; border-top: 3px solid #d4dadf;">
          <h2 style="margin: 0; font-size: 32px; font-weight: 700; letter-spacing: -1px; line-height: 48px;">
            {{value.header}}</h2>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- end hero -->

<!-- start copy block -->
<tr>
  <td align="center" bgcolor="#e9ecef">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">

      <!-- start copy -->
      <tr>
        <td align="left" bgcolor="#ffffff"
          style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
          <p style="margin: 0;">{{value.text}}</p>
        </td>
      </tr>
      <!-- end copy -->

      {{#if value.c2a_button}}
      <!-- start button -->
      <tr>
        <td align="left" bgcolor="#ffffff">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td align="center" bgcolor="#ffffff" style="padding: 12px;">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="center" bgcolor="#010304" style="border-radius: 6px;">
                      <a href={{value.c2a_link}} target="_blank"
                        style="display: inline-block; padding: 16px 36px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; color: #ffffff; text-decoration: none; border-radius: 6px;">{{value.c2a_button}}</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- end button -->

      <!-- start c2a_link alternative -->
      <tr>
        <td align="left" bgcolor="#ffffff"
          style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
          <p style="margin: 0;">Caso não funcione, copie e cole o seguinte link em seu navegador:</p>
          <p style="margin: 0;"><a href={{value.c2a_link}} target="_blank">{{value.c2a_link}}</a></p>
        </td>
      </tr>
      <!-- end c2a_link alternative -->
      {{/if}}

      {{#if value.addText}}
      <!-- start additional text -->
      <tr>
        <td align='left' bgcolor='#ffffff'
          style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; border-bottom: 3px solid #d4dadf">
          <p style='margin: 0;'>{{value.addText}}</p>
        </td>
      </tr>
      <!-- end additional text -->
      {{/if}}
    </table>
  </td>
</tr>
<!-- end copy block -->
{{/layout}}